---
title: Invisible Reflection.
layout: layouts/home.njk
description: Description? This is undescribable.
image: https://danielflannery.ie/wp-content/uploads/2020/02/glitched_100-1.gif
date: Last Modified
---

<p>
  A brain dump 🧠💨.
</p>

<div id="posts">
  <h3>Posts</h3>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>